.card {
    border: 5px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    text-align: center;
    padding: 20px;
    margin-left: 550px;
}

.profilePicture {
    height: 200px;
    max-width: 70%;
    border-radius: 50%;
    border: 1px solid;
    margin-bottom: 10px;
}